@import 'node_modules/bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import './Chat.scss';
@import './LoginRegister.scss';
@import './MissingPage.scss';

body,
main,
#root {
  margin: 0;
  height: 100%;
}

.spinner-border {
  display: flex;
  align-items: center;
  justify-content: center;
}

:root {
  --grey-1: #2a2a2b;
  --grey-2: #494848;
  --grey-3: #131312;
  --grey-4: #333334;
  --grey-5: #bbb;
  --color-1: #64af50; /*#1F09AC*/
  --font-1: 'Roboto', sans-serif;
  --primary: #fff !important;
  --secondary: #242424 !important;
}
